*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.caseStudyBody header{
    background-color: white;
}

.caseStudyBody{
    background-color: #FFD8A8;
}




.titlePart h1{
    display: block;
    text-align: center;
    padding-top: 20px;

    
    font-family: "Bebas Neue", sans-serif;
    font-size: 4rem;

    font-weight: 500;

    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    letter-spacing: 1px;

}

.mainCaseStudy{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    width: 90%;
    margin: 0 auto;

    padding: 100px 0 400px;

    height: fit-content;
    
}

.rightImage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 10px;
}

.rightImageFile{
    width: 500px;
    border: 5px solid var(--blue2);
    border-radius: 10px;
}


.leftFloat h2{
    font-size: 2rem;
    font-family: "Inter", sans-serif;
    font-weight: 700;

}

.leftFloat h3{
    font-size: 1.5rem;
    font-family: "Inter", sans-serif;
    font-weight: 700;   
}

.ctaButton{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


    gap: 10px;
    box-shadow: 0px 4px 3px rgba(0,0,0,0.2);
    text-shadow: 0px 4px 4px rgba(0,0,0,0.4);


    border: none;
    outline: none;

    
    background-color: #F96F0B;
    color: white;

    padding: 10px 20px;
    font-family: "Inter", sans-serif;
    margin-bottom: 10px;
    font-size: 1rem;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}



.paragraphBlock p, .backToHome{
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
}


.backToHome{
    border-bottom: 2px solid var(--blue);
    color: var(--blue);
}

.paragraphBlock1{
    padding-top: 20px;
}


.paragraphBlock{
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 2px dotted rgba(0,0,0,0.5);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    gap: 10px;
}



.leftFloat{
    position: sticky;
    top: 50px;
    padding-right: 40px;
    width: 50%;
    margin: 0 auto;
}

.clientRating{
    padding-top: 10px;
    color: var(--blue);
}














.contactPage{
    font-family: "Bebas Neue", sans-serif;
}










.contactPageDividor{
    position: relative;
}



@media (max-width: 1000px){
    .mainCaseStudy{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 150px;
    }

    .leftFloat{
        position: static;
        width: 90%;
        padding-right: 0px;
    }
    

    .rightImageFile{
        width: 90%;
    }
    

}


@media (max-width: 300px){
    .ctaButton{
        font-size: 0.8rem;
        gap: 5px;
    }

    .ctaButton svg{
        scale: 0.8;
    }
}

